*{
	margin: 0;
	padding: 0;
	box-sizing: border-box;
}

body{
	min-height: 100vh;
	display: flex;
	align-items: center;
	justify-content: center;
	flex-direction: column;
	font-family: 'High Tower Text';
}

header{
	width: fit-content;
	padding-top: 2%;
	margin-bottom: 4%;
}

h1{
	text-align: center;
	font-size: 40px;
	
	letter-spacing:35px;
	color: #3b4657;
	text-shadow: 0px 2px 5px #a7a8ab;
}

section{
	display: flex;
	width: 50%;
	align-items: center;
	justify-content: center;
	flex-direction: column;
	margin-bottom: 3%;
}

section#sudoku{
	position: relative;
	width: fit-content;
	margin-bottom: 3%;
	padding-bottom: 3%;
	border-bottom: 2px solid #555;
}


nav{
	display: flex;
	justify-content: space-around;
	align-items: center;
	width: 100%;
	height: fit-content;
	margin-bottom: 5%;
}

button{
	display: inline-block;
	padding:15px 25px;
	width: 35%;
	cursor: pointer;
	border:none;
	border-radius: 12px;
	outline:none;
	box-shadow: 0 9px #999;
	box-sizing: border-box;
	background:#a7a8ab;

	
	font-size: 15px;
	font-weight: bold;
	color:#3b4657;
	transition: all 0.15s ease;
}

button::selection{
	background: none;
}

button:hover{
	background: #ddd;
}

button:active, button:disabled {
  background-color:#999;
  box-shadow: 0 0px #999;
  transform: translate(0, 9px);
}



canvas{
	width: auto;
    outline: 4px solid black;
    display: inline-block;
	margin-bottom: 3%;
}

#mobile_keyboard{
	display: flex;
	flex-direction: row;
	flex-wrap: wrap;
	justify-content: space-around;
	width: 80%;
}
#mobile_keyboard *{
	width: 28%;
	margin: 0 2.5%;
	margin-bottom: 0.75em;
	font-size: 2em;
}


#exportar{
	display: flex;
	position: relative;
	right: -51%;
	transform: translate(-50%, 0);
	width: 5%;
	box-sizing: content-box;
	justify-content: center;
}

#exportar:active{
	transform: translate(-50%, 9px);
}

#botao1, #botao2{
	margin-bottom: 3%;
}

#texto1, #texto2{
	display: none;
	border-radius: 12px;
	background:#a7a8ab;	
	color:#3b4657;
	padding: 0.65em 25px 25px 25px;
	width: 70%;
}

h3{
	font-size: 2rem;
	text-align: center;
	margin: 3em;
	margin-top: 0;
	margin-bottom: 1em;
	padding-bottom: 0.4em;
	border-bottom: 2px solid #3b4657;
}

#texto1{
	font-size: 1.5rem;
}

#texto1 img{
	width: 2.5rem;
	vertical-align: middle;
	padding: 0.2rem;
}

#texto1 h4{
	margin-top: 1em;
	margin-bottom: 0.25em;
	margin-left: 1em;
}
#texto1 ul{
	padding-left: 8%;
	margin: 0.5em;
	list-style: none;
}
#texto1 ul li{
	margin-bottom: 0.5em;
}

#texto1 ol{
	padding-left: 8%;
	margin: 1em;
}

.wrapper, .image, .nik, .tiago{
	display: flex;
	align-items: center;
	justify-content: center;
}

.wrapper{
	width: 100%;
	flex-direction: row;
}

.nik, .tiago{
	
	flex-direction: column;
	width: 50%;
}

.image{
	flex-direction: column;
	font-size: 1.5em;
	font-weight: bold;	
}

.image h4{
	padding-top: 5%;
}

.image img{
	width: 150px;
	border-radius: 50%;
	border: 0.125em solid #3b4657;
	box-shadow: 0 0 0 0.25em white,
	0 0 0 0.375em #3b4657;
}

.content{
	font-size:  1.05rem !important;
}

footer{
	display: flex;
	align-items: center;
	justify-content: center;
	width: 100%;
	height: fit-content;
	padding: 1em;
	background-color: #ddd;
	font-family: Arial, 'sans serif';
	font-size: 0.8em;
	color:#3b4657;

	margin-top: auto;
}

@media only screen and (max-width: 800px), 
	only screen and (max-device-width: 1024px){
	section{
		width: 90% !important;
	}

	#sudoku canvas{
		width: 100% !important;
	}

	h1{
		font-size: 4.5em !important;
	}

	#texto1, #texto2{
		width: 100%;
	}
}